services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    container_name: redpanda
    ports:
      - "9092:9092"
      - "9644:9644"
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --node-id 0
      - --check=false
      - --kafka-addr PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr PLAINTEXT://redpanda:9092

  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: always

  users-service:
    build:
      context: ./services/users-service
    container_name: users-service
    ports:
      - "4001:4001"
    env_file:
      - ./env/users.env
    depends_on:
      - redpanda
    restart: always
  rates-service:
    build:
      context: ./services/rates-service
      dockerfile: Dockerfile
    container_name: rates-service
    ports:
      - "4002:4002"
    env_file:
      - ./env/rates.env
    depends_on:
      - redpanda
      - redis
    restart: always

  upload-service:
    build: ./services/upload-service
    container_name: upload-service
    ports:
      - "4005:4005"
    environment:
      - PORT=4005
      - RATES_SERVICE_URL=http://rates-service:4002
      - NODE_ENV=development
    volumes:
      - ./services/upload-service:/app
      - /app/node_modules
    depends_on:
      - rates-service
